/* ========== ЗМІННІ ========== */
:root {
    --brand-main-color: #2196f3;
    --brand-bg-color: #2F303A;
    --brand-black: #212121;
    --brand-grey: #757575;
    --brand-bg-grey: #F5F4FA;

    --btn-hover-color: #188CE8;
    --icons-grey: #AFB1B8;

    --logo-positive-color: #000;
    --logo-negative-color: #fff;

    --simple-white: #fff;

    --brand-font: "Roboto";
    --brand-letter-spacing: 0.03em;

    --brand-logo-font: 'Raleway';
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== /ЗМІННІ ========== */