/* ========== ГЕРОЙ ========== */
.hero {
    // max-width: 480px;
    // height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    text-align: center;

    /* наслідується до дітей */
    background-color: var(--brand-bg-color);

    /* оверлей (поки тільки на герої) */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #C4C4C4;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-1x.jpg");

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero-2x.jpg");
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero-2x.jpg");
        }
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero-1x.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero-2x.jpg");
        }
    }

    /* /оверлей (поки тільки на герої) */
}

.hero__title {
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--simple-white);
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    margin-bottom: 30px;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

/* ========== /ГЕРОЙ ========== */