/* ========== НАША КОМАНДА ========== */
.employee {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

.employee__item {
    display: block;

    @media screen and (max-width: ($tablet - 1px)) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 90px) / 4);
    }

    background-color: var(--simple-white);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;


}



.employee__container {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width: $desktop) {
        padding-bottom: 30px;
    }
}

.employee__title {
    text-align: center;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--brand-black);
}

.employee__text {
    text-align: center;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    color: var(--brand-grey);
}

/* ========== /НАША КОМАНДА ========== */